<!-- <canvas id=canvas></canvas> -->


<html>
    <head>
        <link rel="stylesheet" href="/style/css/bootstrap-4.3.1-dist/css/anhnen.css">
        <link rel="stylesheet" href="/style/css/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    </head>
    <body>

        <% include header %>

        <div>
                    <div style="text-align: center ;"><h2>Đăng Ký Tài Khoản</h2></div>
    
                    <form style="padding:20px;" method="GET" action="xlformdangky">
                            <div class="form-group row">
                                    <label for="inputTenKh" class="col-sm-2 col-form-label">Tên Khách Hàng</label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control" name="tenkh" id="inputTenKh" placeholder="Tên Khách Hàng">
                                    </div>
                            </div>


                        <div class="form-group row">
                          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="email" id="staticEmail" value="email@example.com">
                          </div>
                        </div>
                       
                        <div class="form-group row">
                            <label for="inputdiachi" class="col-sm-2 col-form-label">Địa Chỉ</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" name="diachi" id="inputdiachi" placeholder="Địa Chỉ">
                            </div>
                          </div>
                          <div class="form-group row">
                                <label for="input" class="col-sm-2 col-form-label">Giới Tính</label>
                                <div class="col-sm-8">
                                  <!-- <input type="password" class="form-control" id="inputPassword" placeholder="Password"> -->

                                  <div class="form-check">
                                        <input class="form-check-input" type="radio"  name="gioitinh" id="th1Nam" value="Nam" checked>
                                        <label class="form-check-label" for="th1Name">
                                            Nam
                                        </label>
                                    </div>
                                    <div class="form-check">
                                            <input class="form-check-input" type="radio"  name="gioitinh" id="th2Nu" value="Nữ">
                                            <label class="form-check-label" for="th2Nu">
                                              Nữ
                                            </label>

                                    </div>
                                </div>
                              </div>
                          <div class="form-group row">
                            <label for="inputsdt" class="col-sm-2 col-form-label">Số Điện Thoại</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" name="sdt" id="inputsdt" placeholder="Số Điện thoại">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputcmnd" class="col-sm-2 col-form-label">CMND</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" name="cmnd" id="inputcmnd" placeholder="CMND">
                            </div>
                          </div>
                      
                          <div class="form-group row">
                                 <label for="inputusername" class="col-sm-2 col-form-label">UserName</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" name="username" id="inputusername" placeholder="UserName">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-8">
                              <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
                            </div>
                          </div>

                          <div class="form-group row">
                                <label for="bk" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-6"  >
                                        <button type="submit" class="btn btn-primary" >Đăng Ký</button>
                                </div>
                              </div>


                      </form>


        </div>

        <% include footer %>
    </body>
</html>