<div style="text-align: center;">

        <p style="align-content: center;"> Bản Quyền Thuộc về Sở Hữu của Công Ty THHH MTV MVC chi Nhánh HCM</p>
        <p style="align-content: center;"> Liên Hệ :19008736186</p>
</div>