
<html>


        <div id="htrai">
            <img class="hoasen" src="/style/images/Vietnam-Airlines-logo.png" style=" height:100; width: 130;" >
            <a href="/home" style="color: tomato;">Vietnam-Airlines</a> |&nbsp;Liên Hệ:18008198  &nbsp;|&nbsp;<a href="/home/dangky">Đăng Ký</a> |<a href="/home/dangnhap">Đăng Nhập</a>     
        </div>
        
   
</html>